node_modules/
node_modules/.bin/is-ci
node_modules/.bin/mime
node_modules/.bin/nodemon
node_modules/.bin/nodetouch
node_modules/.bin/nopt
node_modules/.bin/rc
node_modules/.bin/semver
node_modules/.bin/ts-node
node_modules/.bin/ts-script
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/which
